{% extends 'base.html.twig' %}

{% block title %}Jukebox App{% endblock %}

{% block body %}
    <div id="root" class="container-fluid p-0 m-0 h-100 w-100"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}

