html,body{ height: 100%; }

/* UTILS */

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #333;
}
  
::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* CONTAINERS */
.app {

}

.app-container {
    padding-bottom: 60px;
}

.view-container {
    overflow-y: scroll;
}

/* React.Component : SIDEBAR */
.sidebar {
    background-color: #111;
    color: #FFF;
    @media screen and (min-width: 768px) {

    }
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}

.sidebar .button {
    list-style: none;
    color: #FFF;
}

/* React.Component : LIBRARY EXPLORER */
.library-explorer {
    background-color: #090909;
    color: #FFF;
}

.library-explorer .header {
    background-color: #101010;
}

.library-explorer .content {

}

.library-explorer .view-selector {

}

.library-explorer .view-selector a {
    color: #FFF;
}

.library-explorer .view-selector a.active {
    border-bottom: 3px solid greenyellow;
}

/* React.Component : ALBUM GRID */
.album-grid {
    margin: 10px 10px;
}

.album-grid .grid-content {
    @media screen and (min-width: 768px) {
        justify-content: flex-start !important;
    }
    @media screen and (max-width: 768px) {
        justify-content: space-around !important;
    }
}

.album-grid .item {
    margin: 10px 15px;
    width: 150px;
}

.album-grid .item .cover {
    background-color: #333;
    width: 150px;
    height: 150px;
}

.album-grid .item .info {
    padding: 5px 10px;
}

.album-grid .item .info p {
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ("...");
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.album-grid .item .info .name {
    font-weight: bold;
    font-size: 14px;
}

.album-grid .item .info .artist {
    font-size: 12px;
}

/* React.Component : TRACK LIST */
.track-list {
    margin: 10px 10px;
}

.track-list tbody td  {
    border:none;
    color: #fff;
    font-size: 12px;
}

.track-list .track-row p {
    margin: 3px 0;
}

.track-list .track-row:hover {
    background-color: #111;
}

.track-list .track-row td:focus {
    
}

/* React.Component : PLAYER */
.player {
    
    background-color:#111;
    color: #FFF;
}

.player .player-bar {
    height: 100%;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        height: 60px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.player .player-col-left {
    align-items: center !important;
    @media screen and (min-width: 768px) {
        min-width: 250px;
        max-width: 500px;
        padding-left: 10px;
    }
    @media screen and (max-width: 768px) {
        padding: 5px 0;
    }
}

.player .player-col-middle {
    @media screen and (min-width: 768px) {
        min-width: 268px;
    }
    @media screen and (max-width: 768px) {
        padding: 10px 0;
    }
}

.player .player-col-right {
    @media screen and (min-width: 768px) {
        min-width: 250px;
        max-width: 500px;
        flex-direction: row;
        justify-content: flex-end !important;
        align-items: center !important;
        padding-right: 10px;
    }
    @media screen and (max-width: 768px) {
        justify-content: center !important;
        padding: 10px 0;
        display: none !important;
    }
}

.player .player-col-right .volume {
    align-items: center;
    @media screen and (min-width: 768px) {
        justify-content: flex-end !important;
    }
    @media screen and (max-width: 768px) {
        justify-content: center !important;
    }
}


.player .player-col-right .volume .range-slider {
    max-width: 100px;
    @media screen and (min-width: 768px) {
        
    }
    @media screen and (max-width: 768px) {
        
    }
}

.player .track-info {
    @media screen and (min-width: 768px) {
        
    }
    @media screen and (max-width: 768px) {
        text-align: center;
        justify-content: center;
    }
}

.player .track-info p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    @media screen and (min-width: 768px) {

    }
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.player .track-info .title {
    font-weight: bold;
    font-size: 14px;
}

.player .track-info .artist {
    @media screen and (min-width: 768px) {
        
    }
    @media screen and (max-width: 768px) {

    }
}

.player .controls {

}

.player .controls .player-btn {
    color: #FFF;
}



/* SEEK */ 

.range-slider {
  -webkit-appearance: none;
  background-color: #555;
  height: 5px;
  outline: none;
  cursor: pointer;
}

.range-slider::-moz-range-progress {
    height: 5px;
    background-color: #AAA;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFF;
}

.range-slider::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFF;
}

.range-slider:hover::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  transition: linear 0.2s;
}

.range-slider:hover::-moz-range-thumb {
    height: 15px;
    width: 15px;
    -moz-transition: linear 0.5s;
}

/* UTILS VIEWS */

.loading {
    height: 100%;
    justify-content: center;
    text-align: center;
}

.loading .spinner {
    margin-top: 30px;
    display: inline-block;
    width: 120px;
    height: 120px;
}

.loading .spinner:after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid #777;
    border-color: #777 transparent #777 transparent;
    animation: loading-spinner 1.5s linear infinite;
}

@keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loading .message {
    margin-top: 30px;
}

.loading .message p {
    font-size: 24px;
    color: #777;
    text-align: center;
}