html,body{
    height: 100%;
    background-color: #090909;
}

/* UTILS */


* {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #333;
} 
::-webkit-scrollbar-thumb {
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

.app-container {
    display: flex;
    flex: 1;
    width: 100%;
    order: 1;
    overflow: hidden;
    @media screen and (min-width: 768px) {
        flex-flow: row nowrap;
    }
    @media screen and (max-width: 768px) {
        flex-flow: column wrap;
    }

}

.view-container {
    order: 2;
    display:flex;
    flex-flow: column wrap;
    flex: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.player-container {
    width: 100%;
    min-height: fit-content;
    align-self: flex-end;
    order: 2;
    z-index: 1;
}

/* React.Component : SIDEBAR */
@import './sidebar.scss';

/* React.Component : LIBRARY EXPLORER */
@import './library-explorer.scss';

/* React.Component : ALBUM GRID */
@import './album-grid.scss';

/* React.Component : TRACK LIST */
@import './track-list.scss';

/* React.Component : ARTIST LIST */
@import './artist-list.scss';

/* React.Component : ALBUM PAGE */
@import 'album-page.scss';

/* React.Component : ARTIST PAGE */
@import 'artist-page.scss';

/* React.Component : PLAYER */
@import 'player.scss';

/* LOADING WIDGET */
.loading {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.loading .spinner {
    margin-top: 30px;
    width: 120px;
    height: 120px;
}

.loading .spinner:after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid #777;
    border-color: #777 transparent #777 transparent;
    animation: loading-spinner 1.5s linear infinite;
}

@keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}

.loading .message {
    margin-top: 30px;
}

.loading .message p {
    font-size: 24px;
    color: #777;
    text-align: center;
}