.artist-list {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.artist-list .list-item {
    display: flex;
    flex-flow: row nowrap;
    min-height: fit-content;
    justify-content: flex-start;
    align-items: center;
    @media screen and (min-width: 1024px) {
        width: 25%;
        padding: 20px 10px;
    }

    @media screen and (min-width: 520px) and (max-width: 1024px) {
        width: 50%;
        padding: 15px 10px;
    }
    
    @media screen and (max-width: 520px) {
       width: 100%;
       padding: 10px 10px;
    }
}

.artist-list .list-item:hover {
    transition: ease-in;
    transition-duration: 0.1s;
    background-color: rgba($color: #FFF, $alpha: 0.1);
}

.artist-list .list-item .item-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #555;
    border: 1px solid #CCC;
}

.artist-list .list-item .item-content {
    flex: 1;
    padding: 2px;

}

.artist-list .list-item .item-content p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.5em;
    max-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
