html,body{ height: 100%; }

.view-container {
    position: absolute;
}

/* React.Component : SIDEBAR */

.sidebar {
    background-color: #111;
    color: #FFF;
}

.sidebar .button {
    list-style: none;
    color: #AAA;
}

/* React.Component : LIBRARY EXPLORER */

.library-explorer {
    background-color: #090909;
    color: #FFF;
    overflow-y: scroll;
}

.library-explorer .header {

}

.library-explorer .content {

}

.album-grid {

}

.album-grid .item {
    margin: 10px 15px;
    background-color: crimson;
}

.album-grid .item .cover {
    background-color: #333;
    width: 150px;
    height: 150px;
}

.album-grid .item .info {
    padding: 5px 10px;
}

.album-grid .item .info p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.album-grid .item .info .name {
    font-weight: bold;
    font-size: 14px;
}

.album-grid .item .info .artist {
    font-size: 12px;
}

.track-list {

}

.track-list tbody td  {
    border:none;
    color: #fff;
    font-size: 12px;
}

.player {
    background-color:#111;
    color: #FFF;
}

.player .progress {
    height: 3px;
}

.player .player-btn {
    color: #FFF;
}