html,body{ height: 100%; }

.sidebar {
    background-color: #111;
    color: #FFF;
}

.sidebar .button {
    list-style: none;
    color: #AAA;
}

.library-explorer {
    background-color: #090909;
    color: #FFF;
}

.library-explorer .header {

}

.player {
    background-color:#111;
    color: #FFF;
}

.player .progress {
    height: 3px;
}

.player .player-btn {
    color: #FFF;
}