html,body{ height: 100%; }

.view-container {
    position: absolute;
}

/* React.Component : SIDEBAR */

.sidebar {
    background-color: #111;
    color: #FFF;
}

.sidebar .button {
    list-style: none;
    color: #AAA;
}

/* React.Component : LIBRARY EXPLORER */

.library-explorer {
    background-color: #090909;
    color: #FFF;
    overflow-y: scroll;
}

.library-explorer .header {

}

.library-explorer .content {

}

.album-grid {
   
}

.album-grid .item {
    margin: 10px 15px;
    width: 150px;
}

.album-grid .item .cover {
    background-color: #333;
    width: 150px;
    height: 150px;
}

.album-grid .item .info {
    padding: 5px 10px;
}

.album-grid .item .info p {
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ("...");
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.album-grid .item .info .name {
    font-weight: bold;
    font-size: 14px;
}

.album-grid .item .info .artist {
    font-size: 12px;
}

.track-list {

}

.track-list tbody td  {
    border:none;
    color: #fff;
    font-size: 12px;
}

.player {
    background-color:#111;
    color: #FFF;
}

.player .progress {
    height: 3px;
}

.player .player-btn {
    color: #FFF;
}

.player .track-info {
    margin: 10px 0;
}

.player .track-info p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* SEEK */ 

input[type=range].seek-bar {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
  }
  input[type=range].seek-bar:focus {
    outline: none;
  }
  input[type=range].seek-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #646464;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range].seek-bar::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 8px;
    width: 10px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
  input[type=range].seek-bar:focus::-webkit-slider-runnable-track {
    background: #717171;
  }
  input[type=range].seek-bar::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: progress;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #646464;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range].seek-bar::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 8px;
    width: 10px;
    border-radius: 0px;
    background: blue;
    cursor: pointer;
  }
  input[type=range].seek-bar::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].seek-bar::-ms-fill-lower {
    background: #575757;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range].seek-bar::-ms-fill-upper {
    background: #646464;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range].seek-bar::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    width: 10px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    height: 8px;
  }

  input[type=range].seek-bar:focus::-ms-fill-lower {
    background: #646464;
  }
  input[type=range].seek-bar:focus::-ms-fill-upper {
    background: #717171;
  }
  